<h3>Замовлення з Pragmatic Order відправлено</h3>
<p>
   Це повідомлення оповіщує вас,що ми відправили ваше нещодавнє замовлення:
</p>

<table>
    <tr><th colspan="2">К-во</th><th>Опис</th></tr>
<%= render @order.line_items -%>
</table>